[project]
name = "agent"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12,<3.13"
dependencies = [
    "litellm>=1.81.1",
    "openai>=2.15.0",
    "pyzmq>=27.1.0",
    "simpleaudio>=1.0.4",
    "sounddevice>=0.5.5",
]
